<h1  class="col-md-offset-3" style="color: white;">¿Quienes somos?</h1>

<div class="row">
  <div class="jumbotron col-md-offset-3 col-md-6">
    <p>
      <h2>Universidad Autónoma de Nuevo León</h2>
      <h3>Facultad de Ingeniería Mecánica y Eléctrica</h2>
        <br>
      <h4>Interacción Humano-Computadora <strong>'Martes V1'</strong> </h4>
      <h4>M.C. Aida Lucina González Lara </h4>
        <br>
      <ul>
        <li>1691471 - (Representante) Avila Rehlaender, Mario Alberto</li>
        <li>1554078 - Hernandez Aldape, Ismael </li>
        <li>1581795 - Islas Gonzalez, Rolando Daniel</li>
        <li>1579348 - Vega Rodriguez, Karina Michelle</li>
      </ul>
      <h4>Interacción Humano-Computadora <strong>'Martes M5'</strong> </h4>
      <h4>M.C. Aida Lucina González Lara </h4>
        <br>
      <ul>
        <li>1583552 - Carlos Eduardo Acevedo Garza </li>
      </ul>

    </p>
  </div>
</div>
