
<div class="row">
  <br>
  <div class="jumbotron col-md-offset-3 col-md-6">
    <h1 style="text-align:center">Weekend</h1>
    <h4 class="col-md-offset-3" style="color: black;">Pregunta, busca, decide, encuentra.</h3>

    <div class="" style="text-align:center">
      <%= link_to 'Inicia sesion', login_path, :class => "btn btn-info" %>
      <br>
      <p style="text-align:right">O registrate <%= link_to 'aqui' , new_user_path %></p>
    </div>
  </div>
  <!--
  <div class="row col-md-offset-3 col-md-6">
    <div class="btn-group">
      <button class="btn btn-white "><%= link_to 'Nosotros' , :aboutus %></button>
      <button class="btn btn-default btn-flat"><%= link_to 'Acerca del proyecto', :aboutproject %></button>
    </div>

  </div>
  -->
</div>
