<div class="row">
  <br>
  <div style="text-align:center", class="jumbotron col-md-offset-3 col-md-6">
    <h1>Bienvenido </h1>
    <h2>"<%= current_user.name %>""</h2>
    <h5>Pregunta, busca, decide, encuentra.</h5>
    <br>
    <div class="" style="text-align:center">
      <h4>¿A donde vamos hoy?</h4>
      <p>
      <%= link_to "<button class='btn btn-primary btn-raised'>Lugares</button></p>".html_safe, places_path %>
      </p>
      <p>
        Revisar mis favoritos:
        <%= link_to "<button class='btn btn-material-yellow'>Favoritos</button>".html_safe, places_user_path(current_user.id) %>
      </p>

    </div>
  </div>
</div>
