@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-material-design";
@import "*";

body {
  background-image: url("background.jpg");
  background-size: 100%;
}

.footer2 {
  position: absolute;
  bottom: 0;
}

.move {
  top: 13px;
}

.rayita{
  color: #B6B6B6;
}
