// Place all the styles related to the places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.lugares{
  border-radius: 25px;
  border: 2px solid #8AC007;
  padding: 20px;
  width: 200px;
  height: 150px;
}
.imagenmini{
  width: 100px;
  height: 100px;
}
