<div class="categorybar">
  <table>
    <tr>
      <% @categories.each do |category| %>
      <td>
        <%= link_to category.name, category %>
      </td>
      <% end %>
    </tr>
  </table>

</div>
