<footer class="footer2">
    <ul class="nav nav-pills">
      <li><span><%= link_to 'Nosotros' , :aboutus %></span></li>
      <li class="text-muted"><span>|</span></li>
      <li><span><%= link_to 'Acerca del proyecto', :aboutproject %></span></li>
      <li class="text-muted"><span>|</span></li>
      <li>FIME - 2015</li>
    </ul>
</footer>
